/* GERAL */
* {
    box-sizing: border-box;
}

body {
    
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-image: url('../img/computador.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
   
}

a {
    text-decoration: none;
}

/* FONTS */
h1 {
    color: #4F4F4F;
    font-size: 35px;
}

h2 {
    color: #aca9a9;   
    font-size: 25px;

}

/* SEÇÃO SOBRE */
.secao-sobre {
    
    background-color: white; 
    width: 400px;
    height: 600px;
    margin: 0 auto;
    margin-top:5%;
    margin-bottom: 10%;
    

}

.sobre-conteudo__img {
    margin-top: 80px; 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(70%);
}  
    
.sobre-conteudo {
    /* font-family: 'Lato', sans-serif; */
    text-align: center;
}

.sobre-conteudo__redes-sociais {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 90px;
}

.sobre-conteudo__redes-sociais img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top:10px;
    align-items: center;

    
    }

    .sobre-conteudo__redes-sociais img:hover {
        -webkit-filter: grayscale(100%);

        
        }


